{% extends "global/Page.html" %}
{% load otree static %}

{% block content %}

    <div class="container">
  <div class="row">
    <div class="col-sm-6">
      <h4 style="text-align: center"> Round {{ subsession.round_number }} out of {{ Constants.num_rounds }} </h4>
      <div><p style="text-align: center; color: darkblue">Time left to make your decision: <span id="time">00:40</span></p></div>
      <h4>You are a Seller. <br> Please make your Quality Decision.</h4>
        <br>
        <p align="center">Your bid was: {{ group.winning_bid|floatformat }}.</p>

        {% if treatment == 1 or treatment == 1.5 or treatment == 3 %}
            <p align="center">Initial Payment was: {{ group.initial_payment|floatformat:2 }}.</p>
        {% endif %}

        <p align="center"><strong>Select Quality</strong></p>

        <div align="center">
            <button name="seller_quality" value="1" class="btn btn-primary btn-large">
                High
            </button>
            <button name="seller_quality" value="0" class="btn btn-primary btn-large">
                Low
            </button>

            </div>
        <br>
        {{ form.seller_quality.errors }}

        </div>
    <div class="col-sm-6" style="text-align:center">
        <br>
        <br>
        <br>
      {% include Constants.instructions_template %}
    </div>
  </div>
</div>
    {% include Constants.history_table %}
{% endblock %}

{% block scripts %}

    <script>
    function startTimer(duration, display) {
    var timer = duration, minutes, seconds;
    setInterval(function () {
        minutes = parseInt(timer / 60, 10);
        seconds = parseInt(timer % 60, 10);

        minutes = minutes < 10 ? "0" + minutes : minutes;
        seconds = seconds < 10 ? "0" + seconds : seconds;

        display.textContent = minutes + ":" + seconds;

        if (--timer < 0) {
            timer = 0;
            document.getElementById("time").style.color = 'red';
                }
                    }, 1000);
                        }

window.onload = function () {
    var halfMinute = 20 * 2,
        display = document.querySelector('#time');
    startTimer(halfMinute, display);
};
    </script>

    <script>
    setTimeout(
    function () {
        alert("Time is up! Please decide now.");
    },
    43*1000 // 43 seconds to allow for lag
);
    </script>

{% endblock %}
