{% extends "global/Page.html" %}
{% load otree static %}

{% block content %}

    <div class="container">
  <div class="row">
    <div class="col-sm-6">
      <h4 style="text-align: center"> Round {{ subsession.round_number }} out of {{ Constants.num_rounds }} </h4>
      <div><p style="text-align: center; color: darkblue">Time left to make your decision: <span id="time">00:40</span></p></div>
      <h4>Seller Response</h4>
        <br>

        <p>The buyer made the following offer.</p>

            <table class="table" style="width:400px;text-align:center">

            <tr>
                <th style="font-weight: normal">Deferred Payment:</th>
                <th>{{ group.buyer_transfer|floatformat }} out of {{ group.retention_money|floatformat }}</th>
            </tr>

            </table>

        <p><strong>Do you agree or dispute?</strong></p>
        <div>
        <button name="seller_accept" value="True" class="btn btn-primary btn-large">
            Agree
        </button>
        <button name="seller_accept" value="False" class="btn btn-primary btn-large">
            Dispute
        </button>
        </div>
        <br>
        {{ form.seller_accept.errors }}
        <p>Below you can view profits for both possible responses.</p>

                <table class="table" style="width:400px;text-align:center">

            <tr>
                <th></th>
                <th>Agree</th>
                <th>Dispute</th>
            </tr>

            <tr>
                <td>{% if player.role == 'buyer' %} Your Profit {% else %} Buyer Profit {% endif %}</td>
                <td>{{ BProfitA|floatformat }}</td>
                <td>{{ BProfitR|floatformat }}</td>
            </tr>

            <tr>
                <td>{% if player.role == 'seller' %} Your Profit {% else %} Seller Profit {% endif %}</td>
                <td>{{ SProfitA|floatformat }}</td>
                <td>{{ SProfitR|floatformat }}</td>
            </tr>

            </table>

        </div>
    <div class="col-sm-6" style="text-align:center">
        <br>
        <br>
        <br>
      {% include Constants.instructions_template %}
    </div>
  </div>
</div>
    {% include Constants.history_table %}
{% endblock %}

{% block scripts %}

    <script>
    function startTimer(duration, display) {
    var timer = duration, minutes, seconds;
    setInterval(function () {
        minutes = parseInt(timer / 60, 10);
        seconds = parseInt(timer % 60, 10);

        minutes = minutes < 10 ? "0" + minutes : minutes;
        seconds = seconds < 10 ? "0" + seconds : seconds;

        display.textContent = minutes + ":" + seconds;

        if (--timer < 0) {
            timer = 0;
            document.getElementById("time").style.color = 'red';
                }
                    }, 1000);
                        }

window.onload = function () {
    var halfMinute = 20 * 2,
        display = document.querySelector('#time');
    startTimer(halfMinute, display);
};
    </script>

    <script>
    setTimeout(
    function () {
        alert("Time is up! Please decide now.");
    },
    43*1000 // 43 seconds to allow for lag
);
    </script>

{% endblock %}
