{% extends 'otree/WaitPage.html' %}
{% load static otree %}

{% block title %}{% endblock %}

{% block content %}
        <h4 style="text-align: center"> Round {{ subsession.round_number }} out of {{ Constants.num_rounds }} </h4>
        <h5 style="text-align: center">
            {% if player.is_winner == True %}
                <p><strong>You won the auction.</strong></p>
                <p>Your bid was: {{ group.winning_bid|floatformat }}.</p>
                <p>Losing bid: {% if group.bids_submitted > 1 %}{{ group.losing_bid|floatformat }}{% else %}None{% endif %}</p>
                <p>Please wait for the Buyer’s decision.</p>
            {% else %}<p>You are a {% if player.role == 'buyer' %}Buyer{% else %}Seller{% endif %}.
                    Please wait while the other players make decisions.</p>{% endif %}</h5>

      {% include Constants.history_table %}
    {% include Constants.instructions_template %}

{% endblock %}
